@using Newtonsoft.Json
@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    List<OccurenceResultat> listeresultat = ViewData["listeoccurenceresultat"] as List<OccurenceResultat>;
    List<OccurenceActivite> listeactivite = ViewData["listeoccurenceactivite"] as List<OccurenceActivite>;
    List<OccurenceSousActivite> listesousactivite = ViewData["listeoccurencesousactivite"] as List<OccurenceSousActivite>;
    Projet projet = ViewData["projet"] as Projet;
}

<h3>@projet.Nom</h3>
@foreach (var resultat in listeresultat)
{
    <ul>
        <li>@resultat.Resultat.Nom, Avancement: @resultat.Avancement</li>
        <ul>
            @foreach (var activite in listeactivite)
            {
                if (activite.IdOccurenceResultat == resultat.Id)
                {
                    <li> Activité: @activite.Activite.Nom</li>
                    <ul>
                        <li>Budget: @activite.Budget</li>
                        <li>Date de début: @activite.DateDebut</li>
                        <li>Date de fin: @activite.DateFin</li>
                        <li>Avancement: @activite.Avancement %</li>
                        @foreach (var sousactivite in listesousactivite)
                        {
                            if (sousactivite.IdOccurenceActivite == activite.Id)
                            {
                                <li> Sous-activité: @sousactivite.SousActivite.Nom</li>
                                <ul>
                                    <li>Budget: @sousactivite.Budget</li>
                                    <li>Date de début: @sousactivite.DateDebut</li>
                                    <li>Date de fin: @sousactivite.DateFin</li>
                                    <li>Avancement: @sousactivite.Avancement %</li>
                                </ul>
                            }
                        }
                    </ul>
                }
            }
        </ul>
    </ul>
}