@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    List<IndicateurActivite> liste = ViewData["liste"] as List<IndicateurActivite>;
    int idoccurenceactivite = ViewBag.idoccurenceactivite;
}

@ViewBag.messageerreur
<br>

<div class="container mt-5">
    <h3>Insertion Indicateur</h3>
    <br>
    <form action="/IndicateurActivite/Create">
        <input type="hidden" name="idoccurenceactivite" value="@idoccurenceactivite">

        <div class="form-group">
            <label for="idindicateur">Sélectionnez un indicateur</label>
            <select class="form-control" id="idindicateuractivite" name="idindicateuractivite">
                @foreach (var v in liste)
                {
                    <option value="@v.Id">@v.NomIndicateur</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="target">Target</label>
            <input type="text" class="form-control" id="target" name="target" placeholder="Target">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Ajouter Indicateur</button>
    </form>
</div>
<br>
<form action="/OccurenceActivite/Details">
    <input type="hidden" name="idoccurenceactivite" value="@idoccurenceactivite">
    <button type="submit" class="btn btn-secondary">Retour</button>
</form>