@{
    Layout = "_LayoutGlobalProject";
    int idoccurenceactivite = ViewBag.idoccurenceactivite;
    List<OccurenceSousActivite> liste = ViewData["listeoccurencesousactivite"] as List<OccurenceSousActivite>;
}

<h2>Liste Sous Activites</h2>
<br>

<form action="/OccurenceSousActivite/VersInsertionOccurenceSousActivite">
    <input type="hidden" name="idoccurenceactivite" value="@idoccurenceactivite">
    <input type="submit" value="ajouter nouvelle">
</form>

<table class="table">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Avancement</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var v in liste)
        {
            <tr>
                <td>@v.SousActivite.Nom</td>
                <td>@v.Avancement %</td>
                <form action="/OccurenceSousActivite/VersDetailsOccurenceSousActivite">
                    <input type="hidden" name="idoccurencesousactivite" value="@v.Id">
                    <td><input type="submit" value="details"></td>
                </form>
                <td>
                    <form action="/IndicateurSousActivite/VersInsertionSousActiviteIndicateur">
                        <input type="hidden" name="idoccurencesousactivite" value="@v.Id">
                        <input type="submit" value="ajouter indicateur">
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>