@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    int idprojet = ViewBag.idprojet;
    List<ProlongementProjet> liste = ViewData["listeprolongement"] as List<ProlongementProjet>;
    List<ProlongementBudgetProjet> listebudget = ViewData["listeprolongementbudget"] as List<ProlongementBudgetProjet>;
}

<h3>Prolongements Budgetaire</h3>
<br>
<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>Montant</th>
        <th>Prolongé le</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var v in listebudget)
    {
        <tr>
            <td>@v.Id</td>
            <td>@v.Budget.ToString("N0") Ar</td>
            <td>@v.DateAction</td>
        </tr>
    }
    </tbody>
</table>

<br>
<h3>Prolongements Temporelle</h3>
<br>

<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>Nouvelle Date Fin</th>
        <th>Prolongé le</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var v in liste)
    {
        <tr>
            <td>@v.Id</td>
            <td>@v.DateFin</td>
            <td>@v.DateAction</td>
        </tr>
    }
    </tbody>
</table>
<br>

<table>
    <thead>
    <th>
        <form action="/Prolongement/VersInsertionBudgetaire">
            <input type="hidden" name="idprojet" value="@idprojet">
            <button type="submit" class="btn btn-primary">Prolonger Budgetairement</button>
            <br>
        </form>
    </th>
    <th>
        <form action="/Prolongement/VersInsertionTemporelle">
            <input type="hidden" name="idprojet" value="@idprojet">
            <button type="submit" class="btn btn-primary">Prolonger Temporellement</button>
            <br>
        </form>
    </th>
    <th>
        <form action="/Projet/RetourVersDetails">
            <input type="hidden" name="idprojet" value="@idprojet">
            <button type="submit" class="btn btn-secondary">Retourner vers details</button>
        </form>
    </th>
    </thead>
</table>