@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    OccurenceActivite oc = ViewData["occurenceactivite"] as OccurenceActivite;
}

<h3>@oc.Activite.Nom</h3>
<br>
Budget:
@oc.Budget
<br>
Date Debut:
@oc.DateDebut
<br>
Date Fin:
@oc.DateFin
<br>
Avancement:
@oc.Avancement


