@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    var model = ViewData["listeoccurenceactivite"] as PagedList<OccurenceActivite>;
    int idprojet = Context.Session.GetInt32("idprojet").GetValueOrDefault();
}

<div class="container mt-5">
    <h2>Liste des Occurences d'Activités</h2>

    <br>
    <div class="input-group mb-3">
        <input type="text" id="searchInput" class="form-control" placeholder="Rechercher...">
        <div class="input-group-append">
            <button id="searchButton" class="btn btn-primary" type="button">Rechercher</button>
        </div>
    </div>
    <br>
    
    <table class="table mt-3">
        <thead class="thead-dark">
        <tr>
            <th>Activité</th>
            <th>Avancement</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var v in model.Items)
        {
            <tr>
                <td>@v.Activite.Nom</td>
                <td>
                    <progress id="file" value="@v.Avancement" max="100"> @v.Avancement % </progress>
                </td>
                <td>
                    <form action="/OccurenceActivite/Details">
                        <input type="hidden" name="idoccurenceactivite" value="@v.Id">
                        <button type="submit" class="btn btn-link">Détails</button>
                    </form>
                </td>
                <td>
                    <form action="/OccurenceSousActivite/ListeOccurenceSousActivite">
                        <input type="hidden" name="idoccurenceactivite" value="@v.Id">
                        <button type="submit" class="btn btn-link">Vers Sous-Activité</button>
                    </form>
                </td>
                <td>
                    <form action="/PaiementActivite/VersListePaiementActivite">
                        <input type="hidden" name="idoccurenceactivite" value="@v.Id">
                        <button type="submit" class="btn btn-link">Execution budgetaire</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            @if (model.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" href="?idoccurenceresultat=@(model.Items[0].IdOccurenceResultat)&page=@(model.PageNumber - 1)&pageSize=@(model.PageSize)">Précédent</a>
                </li>
            }
            @for (int i = 1; i <= model.TotalPages; i++)
            {
                <li class="page-item @(i == model.PageNumber ? "active" : "")">
                    <a class="page-link" href="?idoccurenceresultat=@(model.Items[0].IdOccurenceResultat)&page=@i&pageSize=@(model.PageSize)">@i</a>
                </li>
            }
            @if (model.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" href="?idoccurenceresultat=@(model.Items[0].IdOccurenceResultat)&page=@(model.PageNumber + 1)&pageSize=@(model.PageSize)">Suivant</a>
                </li>
            }
        </ul>
    </nav>

</div>

<br>

<form action="/Projet/RetourVersDetails">
    <input type="hidden" name="idprojet" value="@idprojet">
    <button type="submit" class="btn btn-secondary">Retour Vers Details Projet</button>
</form>