@using System.Globalization
@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    Projet projet = ViewData["projet"] as Projet;
    List<OccurenceActivite> listeactivite = ViewData["listeactivite"] as List<OccurenceActivite>;
}

<br>
LISTE OCCURENCES DU "@projet.Nom"
<br>

<table class="table">
    <thead>
    <tr>
        <th>Numero Occurence</th>
        <th>Activite</th>
        <th>Avancement</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var v in listeactivite)
        {
            <tr>
                <td>@v.Id</td>
                <td>@v.Activite.Nom</td>
                <td>@v.Avancement %</td>
                <td>
                    <div class="progress-bar">
                        <div class="filler" style="width: @v.Avancement%;"></div>
                    </div>
                </td>
                <td>
                    @using (Html.BeginForm("VersInsertionIndicateurSansDate", controllerName: "My", FormMethod.Post))
                    {
                        <input type="hidden" name="idoccurence" value="@v.Id">
                        <input type="submit" value="AJOUTER INDICATEUR">
                    }
                </td>
                <td>
                    @using (Html.BeginForm("versAjoutRapportSource", controllerName: "My", FormMethod.Post))
                    {
                        <input type="hidden" name="idoccurence" value="@v.Id">
                        <input type="submit" value="SOURCE DE VERIFICATION">
                    }
                </td>
            </tr>   
        }
    </tbody>
</table>