@using Microsoft.EntityFrameworkCore.Metadata.Internal
@{
    List<Site> listesite = ViewData["listesite"] as List<Site>;
    Layout = "_LayoutGlobalProject";
}

<table class="table">
    <thead>
    <tr>
        <th>Description Site</th>
        <th>Commune</th>
        <th>District</th>
        <th>Region</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var v in listesite)
    {
        <tr>
            <td>@v.Libelle</td>
            <td>@v.Commune.Nom</td>
            <td>@v.District.Libelle</td>
            <td>@v.Region.Nom</td>
            <td>
                @using (Html.BeginForm("versPageInsertionSite", controllerName: "Technicien", FormMethod.Post))
                {    
                    <input type="hidden" name="idsite" value="@v.Id">
                    <input type="submit" value="details">
                }
            </td>
        </tr>
    }
    </tbody>
</table>