@{
    Layout = "_LayoutGlobalProject";
    int idoccurence = ViewBag.idoccurence;
    int idsite = ViewBag.idsite;
    int idtechnicien = ViewBag.idtechnicien;
    List<ViewSite> listeindicateur = ViewData["listeindicateur"] as List<ViewSite>;
}

<table>
    <thead>
        <tr>
            <th>Indicateur</th>
            <th>quantitedemande</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @using (Html.BeginForm("versPageInsertionSite", controllerName: "Technicien", FormMethod.Post)){
        @foreach (var indicateur in listeindicateur)
            {
                <tr>
                    <td>@indicateur.TypeIndicateur.Nom</td>
                    <td>@indicateur.QuantiteDemande</td>
                    <td><input type="text" name="target"></td>
                    <input type="hidden" name="idoccurence" value="@idoccurence">
                    <input type="hidden" name="idsite" value="@idsite">
                    <input type="hidden" name="idtechnicien" value="@idtechnicien">
                    <input type="hidden" name="idtypeindicateur" value="@indicateur.IdTypeIndicateur">
                    <td><input type="submit" value="Attribuer"></td>
                </tr>
            }
        }
    </tbody>
</table>

