@using Newtonsoft.Json
@{
    Layout = "_LayoutGlobalProject";
    int idtechnicien = ViewBag.idtechnicien;
    int idoccurence = ViewBag.idoccurence;
    List<Site> listesite = ViewData["listesite"] as List<Site>;
    List<ViewSite> listeindicateur = ViewData["listeindicateur"] as List<ViewSite>;
}

<h3>CHOISIR SITE</h3>

    @using (Html.BeginForm("versInsertionSite", controllerName: "My", FormMethod.Post))
    {
        <input type="hidden" name="idoccurence" value="@idoccurence"> 
        <input type="hidden" name="idtechnicien" value="@idtechnicien">   
        <input type="submit" value="Ajouter nouvelle site">
    }

<table class="table">
    <thead>
    <tr>
        <th>Description Site</th>
        <th>Commune</th>
        <th>District</th>
        <th>Region</th>
        <th>Indicateur</th>
        <th>Target du Technicien</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var v in listesite)
    {
        <tr>
            <td>@v.Libelle</td>
            <td>@v.Commune.Nom</td>
            <td>@v.District.Libelle</td>
            <td>@v.Region.Nom</td>
            @using (Html.BeginForm("versPageInsertionSite", controllerName: "Technicien", FormMethod.Post))
            {    
                <td>
                    <select name="idtypeindicateur" id="idtypeindicateur">
                        @foreach (var z in listeindicateur)
                        {
                            <option value="@z.IdTypeIndicateur" name="idtypeindicateur">@z.TypeIndicateur.Nom</option>
                        }
                    </select>
                </td>
                <td><input type="text" name="target"></td>
                <td>
                    <input type="hidden" name="idtechnicien" value="@idtechnicien">
                    <input type="hidden" name="idsite" value="@v.Id">
                    <input type="submit" value="attribuer a ce site">
                </td>
            }
        </tr>
    }
    </tbody>
</table>