@model AnaeLogiciel.Models.Projet

@{
    ViewData["Title"] = "Details";
    List<ProjetComposant> liste = ViewData["listecomposant"] as List<ProjetComposant>;
    List<OccurenceResultat> lister = ViewData["listeoccurenceresultat"] as List<OccurenceResultat>;
}

<h1>Details</h1>

<div>
    <h4>Projet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDebutPrevision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDebutPrevision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFinPrevision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFinPrevision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinishedOrNot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinishedOrNot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Avancement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Avancement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bailleur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bailleur.Nom)
        </dd>
    </dl>
</div>
<br>

<h3>Composants:</h3>
<br>

<table class="table">
    <thead>
    <tr>
        <th>Nom</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var v in liste)
        {
            <tr>
                <td>@v.Composant.Nom</td>
            </tr>
        }
    </tbody>
</table>

<br>
<h3>Resultats:</h3>
<br>

<table class="table">
    <thead>
    <tr>
        <th>Nom</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var v in lister)
        {
            <tr>
                <td>@v.Resultat.Nom</td>
                <form action="/OccurenceActivite/ListeOccurenceActivites">
                    <input type="hidden" name="idoccurenceresultat" value="@v.Id">
                    <td><input type="submit" value="liste activites"></td>
                </form>
                <form action="/OccurenceActivite/VersInsertionOccurenceActivite">
                    <input type="hidden" name="idoccurenceresultat" value="@v.Id">
                    <td><input type="submit" value="ajouter activite"></td>
                </form>
            </tr>
        }
    </tbody>
</table>
<br>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
