@{
    ViewData["Title"] = "Index";
    var model = ViewData["listeprojet"] as PagedList<Projet>;
}

<p>
    <a asp-action="Create">Nouveau Projet</a>
</p>

<p style="color: red;">@ViewBag.messageerreur</p>

<br>
<form action="/Projet/Index">
    <div class="input-group mb-3">
        <input type="text" id="search" name="search" class="form-control" placeholder="Rechercher...">
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Rechercher</button>
        </div>
    </div>
</form>
<br>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Sigle</th>
        <th>Debut Prevision</th>
        <th>Fin Prevision</th>
        <th>Avancement</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var v in model.Items)
        {
            <tr>
                <td>@v.Sigle</td>
                <td>@v.DateDebutPrevision</td>
                <td>@v.DateFinPrevision</td>
                <td>
                  <progress id="file" value="@v.Avancement.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)" max="100"> @v.Avancement.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture) % </progress>
                </td>
                <form action="/Projet/Details">
                    <input type="hidden" name="idprojet" value="@v.Id">
                    <td><input type="submit" value="details"></td>
                </form>
            </tr>
        }
    </tbody>
</table>
<nav>
        <ul class="pagination">
            @if (model.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" href="?page=@(model.PageNumber - 1)&pageSize=@(model.PageSize)">Précédent</a>
                </li>
            }
            @for (int i = 1; i <= model.TotalPages; i++)
            {
                <li class="page-item @(i == model.PageNumber ? "active" : "")">
                    <a class="page-link" href="?page=@i&pageSize=@(model.PageSize)">@i</a>
                </li>
            }
            @if (model.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" href="?page=@(model.PageNumber + 1)&pageSize=@(model.PageSize)">Suivant</a>
                </li>
            }
        </ul>
    </nav>
