@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    List<Vsommepaiementactivite> listeactivite = ViewData["listeactivite"] as List<Vsommepaiementactivite>;
    List<Vsommepaiementsousactivite> listesousactivite = ViewData["listesousactivite"] as List<Vsommepaiementsousactivite>;
    List<Devise> listedevise = ViewData["listedevise"] as List<Devise>;
}

<form action="/TableauDeBordProjet/VersTableau" class="mb-3">
    <div class="d-flex align-items-center justify-content-between">
        <h2>Tableau de bord</h2>
        <div class="d-flex align-items-center">
            <select name="iddevise" id="iddevise" class="form-select me-2">
                @foreach (var v in listedevise)
                {
                    <option value="@v.Id">@v.Nom</option>   
                }
            </select>
            <button type="submit" class="btn btn-primary">Valider</button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
    <tr>
        <th>Activité</th>
        <th>Montant</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var v in listeactivite)
    {
        <tr>
            <td>@v.OccurenceActivite.Details</td>
            <td>@v.Somme.ToString("N0") </td>
        </tr>
    }
    </tbody>
</table>

<br>

<table class="table">
    <thead>
    <tr>
        <th>Sous Activité</th>
        <th>Montant</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var v in listesousactivite)
    {
        <tr>
            <td>@v.OccurenceSousActivite.Details</td>
            <td>@v.Somme.ToString("N0") </td>
        </tr>
    }
    </tbody>
</table>

<br>

<table class="table">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td>Budget</td>
        <td>@ViewBag.budget.ToString("N0") </td>
    </tr>
    <tr>
        <td>Dépense</td>
        <td>@ViewBag.depense.ToString("N0") </td>
    </tr>
    <tr>
        <td>Reste</td>
        <td>@ViewBag.reste.ToString("N0") </td>
    </tr>
    </tbody>
</table>

<br>

<form action="/Projet/RetourVersDetails" class="mb-3">
    <input type="hidden" name="idprojet" value="@Context.Session.GetInt32("idprojet")">
    <button class="btn btn-secondary">Retour</button>
</form>
