@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    List<AssociationIndicateurActivite> listeassociation = ViewData["listeassociation"] as List<AssociationIndicateurActivite>;
    int idoccurence = 0;
    if (listeassociation.Count == 0)
    {
        idoccurence = 0;
    }
    else
    {
        idoccurence = listeassociation[0].IdOccurence;
    }
}
@ViewBag.messageerreur
<br>
<table class="table">
    <thead>
    <tr>
        <th>Type Indicateur</th>
        <th>Quantité Demandée</th>
        <th>Quantite Effectuée</th>
        <th>Date Action</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var association in listeassociation)
    {
        @using (Html.BeginForm("CreateAvecDate", controllerName: "My", FormMethod.Post))
        {
            <tr>
                <td>@association.TypeIndicateur.Nom</td>
                <td>@association.QuantiteDemande</td>
                <td><input type="text" name="quantiteeffectuee" required></td>
                <td><input type="date" name="dateaction"  required></td>
                <input type="hidden" name="idoccurence" value="@idoccurence">
                <input type="hidden" name="idtypeindicateur" value="@association.IdTypeIndicateur">
                <td><input type="submit" value="AJOUTER RAPPORT"></td>
            </tr>
        }
    }
    </tbody>
</table>
