@{
    Layout = "_LayoutTechnicien";
    List<TechnicienSite> liste = ViewData["listetechniciensite"] as List<TechnicienSite>;
}

<table class="table">
    <thead>
    <tr>
        <th>Site</th>
        <th>TypeIndicateur</th>
        <th>Target</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var v in liste)
    {
        @using (Html.BeginForm("versPageInsertionRapport", controllerName: "My", FormMethod.Post))
        {
            <tr>
                <td>@v.Site.Libelle</td>
                <td>@v.TypeIndicateur.Nom</td>
                <td>@v.Target</td>
                <input type="hidden" name="idsite" value="@v.IdSite">
                <input type="hidden" name="idtypeindicateur" value="@v.IdIndicateur">
                <td><input type="submit" value="choisir"></td>
            </tr>
        }
    }
    </tbody>
</table>