@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    List<RapportIndicateurSousActivite> liste = ViewData["liste"] as List<RapportIndicateurSousActivite>;
    int idindicateursousactivite = ViewBag.idindicateursousactivite;
}

<h2>Liste Actions</h2>
<br>
<div class="row">
    <div class="col-md-6">
        <p>Technicien : @ViewBag.nomtechnicien</p>
        <p>Indicateur : @ViewBag.nomindicateur</p>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Quantité Effectuée</th>
        <th>Date de Début</th>
        <th>Date de Fin</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var v in liste)
    {
        <tr>
            <td>@v.QuantiteEffectue</td>
            <td>@v.DateDebut</td>
            <td>@v.DateFin</td>
            <td>
                <form action="/TravailTechnicienSousActivite/VersModifAction">
                    <input type="hidden" name="idindicateursousactivite" value="@idindicateursousactivite">
                    <input type="hidden" name="idaction" value="@v.Id">
                    <button type="submit" class="btn btn-primary">Modifier</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
<br>
<form action="/IndicateurSousActivite/DetailsIndicateurSousActivite">
    <input type="hidden" name="idoccurencesousactiviteindicateur" value="@idindicateursousactivite">
    <button type="submit" class="btn btn-secondary">Retour</button>
</form>